<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Member Name</label>
    <div class="col-sm-10">
        <input type="text" name="name" class="form-control" [(ngModel)]="name"
        placeholder="Enter Name" required />
    </div>

    <label class="col-sm-2 col-form-label">Member Surname</label>
    <div class="col-sm-10">
        <input type="text" name="surname" class="form-control" [(ngModel)]="surname"
        placeholder="Enter Surname" required />
    </div>
    
    <label class="col-sm-2 col-form-label">Member Surname</label>
    <div class="col-sm-10">
        <input type="text" name="email" class="form-control" [(ngModel)]="email"
        placeholder="Enter email" required />
    </div>
    
    <label class="col-sm-2 col-form-label">Phone Number</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="phoneNumber"
        placeholder="Enter Phone Number" required />
    </div>
    
    <label class="col-sm-2 col-form-label">Member address</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="address"
        placeholder="Enter address" />
    </div>
    
    <label class="col-sm-2 col-form-label">Member city</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="city"
        placeholder="Enter city" />
    </div>
    
    <label class="col-sm-2 col-form-label">Family</label>
    <div class="col-sm-10">
       <select class="form-control" [(ngModel)]=familyId>
           <option disabled selected>--Select--</option>
           <option *ngFor="let family of FamilyList" value="{{family.id}}">
               {{family.name}}
           </option>
       </select>
    </div>
</div>

<button (click)="addMember()" *ngIf="mem.id==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateMember()" *ngIf="mem.id!=0" class="btn btn-primary">
    Update
</button>